In [ ]:
import pandas as pd
import os
import re


carpeta = ""
ruta_archivo = os.path.join(carpeta, "dataset_02-2026.csv")

df_sucio = []
df_sucio = pd.read_csv(ruta_archivo)

# Imprimimos el head
print("-" * 30)
print(df_sucio.dtypes)

------------------------------
id                        object
site                      object
job_url                   object
job_url_direct            object
title                     object
company                   object
location                  object
date_posted               object
job_type                  object
salary_source             object
interval                  object
min_amount               float64
max_amount               float64
currency                  object
is_remote                   bool
job_level                 object
job_function              object
listing_type              object
emails                    object
description               object
company_industry          object
company_url               object
company_logo              object
company_url_direct        object
company_addresses         object
company_num_employees     object
company_revenue           object
company_description       object
skills                   float64
experience_range         float64
company_rating           float64
company_reviews_count    float64
vacancy_count            float64
work_from_home_type      float64
search_location           object
search_query              object
dtype: object

In [12]:
df_clean = df_sucio.copy()

In [13]:
# Lista de columnas a eliminar
cols_to_drop = ['job_url', 'company_url', 'company_logo']

# Usamos errors='ignore' para que no rompa el código si la columna ya fue borrada
df_clean.drop(columns=cols_to_drop, inplace=True, errors='ignore')

# Opcional: Limpiar automáticamente columnas que estén totalmente vacías (NaN)
df_clean.dropna(axis=1, how='all', inplace=True)

print(df_clean.columns)

Index(['id', 'site', 'job_url_direct', 'title', 'company', 'location',
       'date_posted', 'job_type', 'salary_source', 'interval', 'min_amount',
       'max_amount', 'currency', 'is_remote', 'job_level', 'job_function',
       'listing_type', 'emails', 'description', 'company_industry',
       'company_url_direct', 'company_addresses', 'company_num_employees',
       'company_revenue', 'company_description', 'search_location',
       'search_query'],
      dtype='object')

In [14]:
mapeoTipos = {
    'id' : 'string',
    'title' : 'string',
    'company' : 'string',
    'location' : 'string',
    'job_type' : 'string',
    'job_level' : 'string',
    'job_function' : 'string',
    'description' : 'string',
    'company_industry' : 'string',
    'search_location' : 'string'
    }

df_clean = df_clean.astype(mapeoTipos)

In [ ]:
def detectar_stack(descripcion):
    if pd.isna(descripcion) or descripcion == "":
        return "no especificado"
    
    found = []
    desc_lower = str(descripcion).lower()
    
    # Lista ampliada de tecnologías en minúsculas
    tech_keywords = [
        # Lenguajes
        'python', 'sql', 'java', 'scala', 'c#', 'c++', 'go', 'rust', 'typescript', 'javascript', 
        'php', 'ruby', 'swift', 'kotlin', 'dart', 'elixir', 'perl', 'r', 'shell', 'bash',
        
        # Cloud & DevOps
        'aws', 'azure', 'gcp', 'google cloud', 'docker', 'kubernetes', 'terraform', 'ansible', 
        'jenkins', 'git', 'ci/cd', 'github', 'gitlab', 'bitbucket', 'linux', 'unix', 'vagrant',
        'prometheus', 'grafana', 'elk', 'splunk', 'circleci', 'travisci', 'helm',
        
        # Big Data & Data Engineering
        'spark', 'kafka', 'hadoop', 'flink', 'airflow', 'snowflake', 'databricks', 'bigquery', 
        'redshift', 'etl', 'elt', 'dbt', 'airbyte', 'nifi', 'hive', 'pig', 'clickhouse', 
        'presto', 'trino', 'looker', 'tableau', 'power bi', 'superset',
        
        # Backend & Frameworks
        'node.js', 'express', 'django', 'flask', 'fastapi', 'spring', 'hibernate', 'laravel', 
        'symfony', 'rails', '.net', 'asp.net', 'microservices', 'api', 'graphql', 'rest',
        
        # Frontend & Mobile
        'react', 'angular', 'vue', 'next.js', 'nuxt.js', 'svelte', 'tailwind', 'bootstrap', 
        'flutter', 'react native', 'ionic', 'xamarin',
        
        # Bases de Datos
        'postgresql', 'mysql', 'oracle', 'mongodb', 'redis', 'elasticsearch', 'cassandra', 
        'dynamodb', 'firebase', 'mariadb', 'sqlite', 'nosql', 'couchdb', 'neo4j',
        
        # IA & Ciencia de Datos
        'pandas', 'numpy', 'scikit-learn', 'tensorflow', 'pytorch', 'keras', 'opencv', 
        'huggingface', 'scipy', 'matplotlib', 'seaborn'
    ]

    for tech in tech_keywords:
        # Usamos regex para palabras exactas
        pattern = r'\b' + re.escape(tech) + r'\b'
        
        # Ajuste específico para lenguajes con símbolos o versiones con punto
        if tech in ['c++', 'c#']:
            pattern = re.escape(tech) + r'(?!\w)'
        elif tech == 'node.js':
            pattern = r'node\.js\b|nodejs\b' # Detecta 'node.js' o 'nodejs'
        elif tech == '.net':
            pattern = r'\.net\b'

        if re.search(pattern, desc_lower):
            found.append(tech)
            
    return ", ".join(sorted(list(set(found)))) if found else "no especificado"

In [16]:
df_clean['job_url_direct'] = df_clean['job_url_direct'].notna()

df_clean['date_posted'] = pd.to_datetime(df_clean['date_posted'], errors='coerce')

df_clean['emails'] = df_clean['emails'].notna()

In [ ]:
df_clean['stack_tecnologico'] = df_clean['description'].apply(detectar_stack)

TypeError: boolean value of NA is ambiguous

In [ ]:
df_clean['site'].value_counts()

site
linkedin     1141
glassdoor     267
indeed          3
Name: count, dtype: int64

In [ ]:
columnas_finales = df_clean.columns.tolist()

for columna in [col for col in columnas_finales if col not in ['description','id']]:
    print(f"Columna: {columna}")
    print(f"Valores únicos: {df_clean[columna].value_counts()}")

Columna: site
Valores únicos: site
linkedin     1141
glassdoor     267
indeed          3
Name: count, dtype: int64
Columna: job_url_direct
Valores únicos: job_url_direct
False    1113
True      298
Name: count, dtype: int64
Columna: title
Valores únicos: title
data engineer                                                            60
data analyst                                                             33
software engineer                                                        32
full stack developer                                                     14
graduate software engineer                                               12
                                                                         ..
programador java /jenkins/sonar                                           1
java developer - spain                                                    1
junior software developer – dashboards y apis                             1
programadores junior/senior java                                          1
principal software developer ii - distributed systems - elasticsearch     1
Name: count, Length: 1044, dtype: Int64
Columna: company
Valores únicos: company
canonical                 67
bairesdev                 38
bending spoons            23
agileengine               23
plexus tech               15
                          ..
fliff inc                  1
bonàrea agrupa             1
splitmetrics               1
thevaluefactory sl         1
dhara consulting group     1
Name: count, Length: 767, dtype: Int64
Columna: location
Valores únicos: location
Madrid, Community of Madrid, Spain    244
Barcelona, Catalonia, Spain           227
Málaga, Andalusia, Spain              150
Granada, Andalusia, Spain              99
Pereira, Risaralda, Colombia           63
                                     ...
Secaucus, NJ                            1
Irvine, CA                              1
Reston, VA                              1
Nashville, TN                           1
Murcia, Región de Murcia, Spain         1
Name: count, Length: 133, dtype: Int64
Columna: date_posted
Valores únicos: date_posted
2026-02-10    79
2026-02-12    53
2026-02-13    52
2026-02-16    51
2026-02-09    50
              ..
2025-09-03     1
2025-02-03     1
2025-06-02     1
2025-04-02     1
2023-08-07     1
Name: count, Length: 213, dtype: int64
Columna: job_type
Valores únicos: job_type
fulltime      1052
contract        32
internship      26
parttime        17
other           14
temporary        1
Name: count, dtype: Int64
Columna: salary_source
Valores únicos: salary_source
direct_data    196
description      6
Name: count, dtype: int64
Columna: interval
Valores únicos: interval
yearly    176
hourly     27
Name: count, dtype: int64
Columna: min_amount
Valores únicos: min_amount
100000.0    8
120000.0    8
80000.0     8
70000.0     5
50.0        4
           ..
388000.0    1
90036.0     1
86700.0     1
87401.0     1
210600.0    1
Name: count, Length: 136, dtype: int64
Columna: max_amount
Valores únicos: max_amount
150000.0    8
110000.0    5
90000.0     5
190000.0    5
130000.0    4
           ..
75.0        1
151700.0    1
154397.0    1
101702.0    1
350800.0    1
Name: count, Length: 132, dtype: int64
Columna: currency
Valores únicos: currency
USD    203
Name: count, dtype: int64
Columna: is_remote
Valores únicos: is_remote
False    889
True     522
Name: count, dtype: int64
Columna: job_level
Valores únicos: job_level
mid-senior level    544
entry level         259
not applicable      141
associate           133
internship           54
executive             5
director              3
Name: count, dtype: Int64
Columna: job_function
Valores únicos: job_function
Engineering and Information Technology                  430
Information Technology                                  334
Engineering                                              88
Other                                                    47
Consulting                                               27
                                                       ...
Analyst, Finance, and Consulting                          1
Customer Service                                          1
Consulting, Information Technology, and Supply Chain      1
Engineering, Information Technology, and Finance          1
Information Technology and Training                       1
Name: count, Length: 89, dtype: Int64
Columna: listing_type
Valores únicos: listing_type
organic      266
sponsored      1
Name: count, dtype: int64
Columna: emails
Valores únicos: emails
False    1333
True       78
Name: count, dtype: int64
Columna: company_industry
Valores únicos: company_industry
IT Services and IT Consulting                                                                 359
Software Development                                                                          190
Technology, Information and Internet                                                           54
Financial Services                                                                             32
Business Consulting and Services                                                               28
                                                                                             ...
Architecture and Planning                                                                       1
Libraries                                                                                       1
Information Technology & Services, Software Development, and IT Services and IT Consulting      1
Computer and Network Security, Technology, Information and Media, and Software Development      1
IT Services and IT Consulting and Pharmaceutical Manufacturing                                  1
Name: count, Length: 189, dtype: Int64
Columna: company_url_direct
Valores únicos: company_url_direct
http://www.deloitte.com    2
Name: count, dtype: int64
Columna: company_addresses
Valores únicos: company_addresses
New York, NY    2
Name: count, dtype: int64
Columna: company_num_employees
Valores únicos: company_num_employees
10,000+    2
Name: count, dtype: int64
Columna: company_revenue
Valores únicos: company_revenue
more than $10B (USD)    2
Name: count, dtype: int64
Columna: company_description
Valores únicos: company_description
We’re a leading professional services firm, but what makes working at Deloitte unique? When you join us, you become connected. To inspiring people. To meaningful work with fascinating clients.    2
Name: count, dtype: int64
Columna: search_location
Valores únicos: search_location
Remote (Spain)    396
Madrid            370
Barcelona         281
Málaga            165
Granada           123
Sevilla            76
Name: count, dtype: Int64
Columna: search_query
Valores únicos: search_query
Data Engineer         339
Data Analyst          277
Python Developer      229
Software Developer    204
IA Engineer           197
Backend Engineer      165
Name: count, dtype: int64
Columna: stack_tecnologico
Valores únicos: stack_tecnologico
no especificado                                                                                                                               208
ci/cd, docker, go, kubernetes, microservices, python, rest, rust                                                                               42
python                                                                                                                                         18
go                                                                                                                                             15
sql                                                                                                                                            12
                                                                                                                                             ...
angular, azure, ci/cd, docker, git, hibernate, java, jenkins, kafka, kubernetes, react, spring, vue                                             1
api, aws, java, node.js, oracle, postgresql, python, react, rest, sql                                                                           1
go, java, microservices                                                                                                                         1
angular, api, docker, git, javascript, laravel, mongodb, mysql, php, postgresql, react, redis, rest, sql, sqlite, symfony, typescript, vue      1
.net, sql                                                                                                                                       1
Name: count, Length: 917, dtype: int64

In [ ]:
ruta_salida = os.path.join(carpeta, "dataset_limpio.csv")
df_clean.to_csv(ruta_salida, index=False)