In [58]:
import pandas as pd
import glob
import os

df_sucio = []

# Buscamos todos los .csv dentro de cualquier subcarpeta de scraps
archivos = glob.glob("scraps/**/*.csv", recursive=True)

if archivos:
    # Ordenamos por fecha de modificación para obtener el más reciente
    ultimo_archivo = max(archivos, key=os.path.getmtime)
    
    print(f"Cargando el archivo más reciente: {ultimo_archivo}")
    df_sucio = pd.read_csv(ultimo_archivo)
    
    # Imprimimos el head
    print("-" * 30)
    print(df_sucio.dtypes)
else:
    print("No se encontró ningún archivo CSV en la carpeta 'scraps'.")

Cargando el archivo más reciente: scraps/15-02-2026/ofertas_it_16-34.csv
------------------------------
id                        object
site                      object
job_url                   object
job_url_direct            object
title                     object
company                   object
location                  object
date_posted               object
job_type                  object
salary_source            float64
interval                 float64
min_amount               float64
max_amount               float64
currency                 float64
is_remote                   bool
job_level                 object
job_function              object
listing_type             float64
emails                    object
description               object
company_industry          object
company_url               object
company_logo              object
company_url_direct       float64
company_addresses        float64
company_num_employees    float64
company_revenue          float64
company_description      float64
skills                   float64
experience_range         float64
company_rating           float64
company_reviews_count    float64
vacancy_count            float64
work_from_home_type      float64
search_location           object
dtype: object

In [59]:
df_clean = df_sucio.copy()

In [60]:
df_clean.drop(columns=['site','job_url','company_url','company_logo'], inplace=True)

In [61]:
mapeoTipos = {
    'id' : 'string',
    'title' : 'string',
    'company' : 'string',
    'location' : 'string',
    'job_type' : 'string',
    'job_level' : 'string',
    'job_function' : 'string',
    'description' : 'string',
    'company_industry' : 'string',
    'search_location' : 'string'
    }

df_clean = df_clean.astype(mapeoTipos)

In [62]:
df_clean['job_url_direct'] = df_clean['job_url_direct'].notna()

df_clean['date_posted'] = pd.to_datetime(df_clean['date_posted'], errors='coerce')

df_clean['emails'] = df_clean['emails'].notna()

In [71]:
columnas_finales = df_clean.columns.tolist()

for columna in [col for col in columnas_finales if col not in ['description','id']]:
    print(f"Columna: {columna}")
    print(f"Valores únicos: {df_clean[columna].value_counts()}")

Columna: job_url_direct
Valores únicos: job_url_direct
False    108
True      32
Name: count, dtype: int64
Columna: title
Valores únicos: title
Data Engineer                                    15
Graduate software engineer                        6
Data Analysis Internship                          3
Senior Data Engineer                              3
Data Engineer - EY GDS Spain - Hybrid             2
                                                 ..
Software Engineer, Platform - Malaga, Spain       1
Juju Software Engineer (Go)                       1
Data Analytics Engineer Banca                     1
Software Engineer - Python - Container Images     1
Senior Data Engineer - Databricks (m/f/*)         1
Name: count, Length: 107, dtype: Int64
Columna: company
Valores únicos: company
Canonical                    28
Bending Spoons                6
EPAM Systems                  5
Deutsche Telekom              4
WeHunt España                 4
                             ..
Grupo TECDATA Engineering     1
Refinery89                    1
SIRT                          1
Joinrs                        1
Rithum                        1
Name: count, Length: 69, dtype: Int64
Columna: location
Valores únicos: location
Málaga, Andalusia, Spain                           46
Granada, Andalusia, Spain                          40
Madrid, Community of Madrid, Spain                  9
Barcelona, Catalonia, Spain                         4
Marbella, Andalusia, Spain                          2
Bilbao, Basque Country, Spain                       2
Torremolinos, Andalusia, Spain                      1
Valencian Community, Spain                          1
Valencia, Valencian Community, Spain                1
Andalusia, Spain                                    1
Valladolid, Castilla and Leon, Spain                1
Santiago de la Puebla, Castilla and Leon, Spain     1
Tres Cantos, Community of Madrid, Spain             1
Name: count, dtype: Int64
Columna: date_posted
Valores únicos: date_posted
2026-02-10    13
2026-01-28    10
2026-02-12    10
2026-02-11     7
2026-02-09     7
2026-02-03     7
2026-02-13     7
2026-02-02     4
2026-01-26     4
2026-01-31     3
2026-01-21     3
2026-01-27     3
2026-02-05     3
2025-05-22     2
2025-12-09     2
2025-02-12     2
2025-08-14     2
2025-12-19     2
2026-01-24     2
2025-12-24     2
2026-01-22     2
2026-01-29     2
2026-01-30     2
2026-02-06     2
2024-06-06     1
2024-03-08     1
2026-01-23     1
2025-03-18     1
2026-02-14     1
2026-01-20     1
2026-01-16     1
2025-12-23     1
2025-06-29     1
2025-12-16     1
2025-12-03     1
2025-04-02     1
2025-05-19     1
2025-07-04     1
2025-08-12     1
2025-12-10     1
2026-01-03     1
2026-01-06     1
2026-01-08     1
2026-01-10     1
2025-08-01     1
2025-09-23     1
2025-12-01     1
2026-01-05     1
2026-02-04     1
2025-01-21     1
Name: count, dtype: int64
Columna: job_type
Valores únicos: job_type
fulltime      130
internship      4
other           3
contract        3
Name: count, dtype: Int64
Columna: salary_source
Valores únicos: Series([], Name: count, dtype: int64)
Columna: interval
Valores únicos: Series([], Name: count, dtype: int64)
Columna: min_amount
Valores únicos: Series([], Name: count, dtype: int64)
Columna: max_amount
Valores únicos: Series([], Name: count, dtype: int64)
Columna: currency
Valores únicos: Series([], Name: count, dtype: int64)
Columna: is_remote
Valores únicos: is_remote
False    75
True     65
Name: count, dtype: int64
Columna: job_level
Valores únicos: job_level
mid-senior level    68
entry level         37
associate           19
not applicable      11
internship           5
Name: count, dtype: Int64
Columna: job_function
Valores únicos: job_function
Information Technology                                           56
Engineering and Information Technology                           55
Engineering                                                       6
Analyst                                                           5
Business Development, Information Technology, and Engineering     3
Consulting and Information Technology                             2
Information Technology, Engineering, and Business Development     2
Consulting                                                        2
Project Management                                                1
Analyst, Information Technology, and Engineering                  1
Finance                                                           1
Business Development and Sales                                    1
Analyst and Information Technology                                1
Education and Training                                            1
Research                                                          1
Finance and Information Technology                                1
Other                                                             1
Name: count, dtype: Int64
Columna: listing_type
Valores únicos: Series([], Name: count, dtype: int64)
Columna: emails
Valores únicos: emails
False    138
True       2
Name: count, dtype: int64
Columna: company_industry
Valores únicos: company_industry
Software Development                                                                         42
IT Services and IT Consulting                                                                38
Technology, Information and Internet                                                          7
Information Technology & Services                                                             6
Software Development and IT Services and IT Consulting                                        6
Human Resources Services                                                                      4
Telecommunications                                                                            4
Business Consulting and Services                                                              3
Internet Marketplace Platforms                                                                3
Defense and Space Manufacturing                                                               3
Banking                                                                                       3
Professional Services                                                                         2
Aviation & Aerospace                                                                          2
Advertising Services                                                                          2
Financial Services                                                                            2
Gambling Facilities and Casinos                                                               1
IT System Data Services and Data Infrastructure and Analytics                                 1
Internet Publishing                                                                           1
Human Resources Services and IT Services and IT Consulting                                    1
Software Development and Business Consulting and Services                                     1
Utilities                                                                                     1
Banking and Financial Services                                                                1
Plastics Manufacturing                                                                        1
Engineering Services                                                                          1
Financial Services, IT Services and IT Consulting, and Software Development                   1
Retail Apparel and Fashion                                                                    1
Human Resources Services, Software Development, and IT System Custom Software Development     1
Insurance                                                                                     1
Name: count, dtype: Int64
Columna: company_url_direct
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_addresses
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_num_employees
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_revenue
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_description
Valores únicos: Series([], Name: count, dtype: int64)
Columna: skills
Valores únicos: Series([], Name: count, dtype: int64)
Columna: experience_range
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_rating
Valores únicos: Series([], Name: count, dtype: int64)
Columna: company_reviews_count
Valores únicos: Series([], Name: count, dtype: int64)
Columna: vacancy_count
Valores únicos: Series([], Name: count, dtype: int64)
Columna: work_from_home_type
Valores únicos: Series([], Name: count, dtype: int64)
Columna: search_location
Valores únicos: search_location
Málaga, Spain     50
Remote (Spain)    50
Granada, Spain    40
Name: count, dtype: Int64