In [1]:
import pandas as pd
import os
import re


carpeta = "data"
ruta_archivo = os.path.join(carpeta, "dataset_maestro.csv")

df_sucio = []
df_sucio = pd.read_csv(ruta_archivo)

# Imprimimos el head
print("-" * 30)
print(df_sucio.dtypes)

------------------------------
id                        object
site                      object
job_url                   object
job_url_direct            object
title                     object
company                   object
location                  object
date_posted               object
job_type                  object
salary_source             object
interval                  object
min_amount               float64
max_amount               float64
currency                  object
is_remote                   bool
job_level                 object
job_function              object
listing_type              object
emails                    object
description               object
company_industry          object
company_url               object
company_logo              object
company_url_direct        object
company_addresses         object
company_num_employees     object
company_revenue           object
company_description       object
skills                   float64
experience_range         float64
company_rating           float64
company_reviews_count    float64
vacancy_count            float64
work_from_home_type      float64
search_location           object
search_query              object
dtype: object

In [2]:
df_clean = df_sucio.copy()

In [3]:
# Lista de columnas a eliminar
cols_to_drop = ['job_url', 'company_url', 'company_logo']

# Usamos errors='ignore' para que no rompa el código si la columna ya fue borrada
df_clean.drop(columns=cols_to_drop, inplace=True, errors='ignore')

# Opcional: Limpiar automáticamente columnas que estén totalmente vacías (NaN)
df_clean.dropna(axis=1, how='all', inplace=True)

print(df_clean.columns)

Index(['id', 'site', 'job_url_direct', 'title', 'company', 'location',
       'date_posted', 'job_type', 'salary_source', 'interval', 'min_amount',
       'max_amount', 'currency', 'is_remote', 'job_level', 'job_function',
       'listing_type', 'emails', 'description', 'company_industry',
       'company_url_direct', 'company_addresses', 'company_num_employees',
       'company_revenue', 'company_description', 'search_location',
       'search_query'],
      dtype='object')

In [4]:
mapeoTipos = {
    'id' : 'string',
    'title' : 'string',
    'company' : 'string',
    'location' : 'string',
    'job_type' : 'string',
    'job_level' : 'string',
    'job_function' : 'string',
    'description' : 'string',
    'company_industry' : 'string',
    'search_location' : 'string'
    }

df_clean = df_clean.astype(mapeoTipos)

In [5]:
def detectar_stack(descripcion):
    if pd.isna(descripcion) or descripcion == "":
        return "no especificado"
    
    found = []
    desc_lower = str(descripcion).lower()
    
    # Lista ampliada de tecnologías en minúsculas
    tech_keywords = [
        # Lenguajes
        'python', 'sql', 'java', 'scala', 'c#', 'c++', 'go', 'rust', 'typescript', 'javascript', 
        'php', 'ruby', 'swift', 'kotlin', 'dart', 'elixir', 'perl', 'r', 'shell', 'bash',
        
        # Cloud & DevOps
        'aws', 'azure', 'gcp', 'google cloud', 'docker', 'kubernetes', 'terraform', 'ansible', 
        'jenkins', 'git', 'ci/cd', 'github', 'gitlab', 'bitbucket', 'linux', 'unix', 'vagrant',
        'prometheus', 'grafana', 'elk', 'splunk', 'circleci', 'travisci', 'helm',
        
        # Big Data & Data Engineering
        'spark', 'kafka', 'hadoop', 'flink', 'airflow', 'snowflake', 'databricks', 'bigquery', 
        'redshift', 'etl', 'elt', 'dbt', 'airbyte', 'nifi', 'hive', 'pig', 'clickhouse', 
        'presto', 'trino', 'looker', 'tableau', 'power bi', 'superset',
        
        # Backend & Frameworks
        'node.js', 'express', 'django', 'flask', 'fastapi', 'spring', 'hibernate', 'laravel', 
        'symfony', 'rails', '.net', 'asp.net', 'microservices', 'api', 'graphql', 'rest',
        
        # Frontend & Mobile
        'react', 'angular', 'vue', 'next.js', 'nuxt.js', 'svelte', 'tailwind', 'bootstrap', 
        'flutter', 'react native', 'ionic', 'xamarin',
        
        # Bases de Datos
        'postgresql', 'mysql', 'oracle', 'mongodb', 'redis', 'elasticsearch', 'cassandra', 
        'dynamodb', 'firebase', 'mariadb', 'sqlite', 'nosql', 'couchdb', 'neo4j',
        
        # IA & Ciencia de Datos
        'pandas', 'numpy', 'scikit-learn', 'tensorflow', 'pytorch', 'keras', 'opencv', 
        'huggingface', 'scipy', 'matplotlib', 'seaborn'
    ]

    for tech in tech_keywords:
        # Usamos regex para palabras exactas
        pattern = r'\b' + re.escape(tech) + r'\b'
        
        # Ajuste específico para lenguajes con símbolos o versiones con punto
        if tech in ['c++', 'c#']:
            pattern = re.escape(tech) + r'(?!\w)'
        elif tech == 'node.js':
            pattern = r'node\.js\b|nodejs\b' # Detecta 'node.js' o 'nodejs'
        elif tech == '.net':
            pattern = r'\.net\b'

        if re.search(pattern, desc_lower):
            found.append(tech)
            
    return ", ".join(sorted(list(set(found)))) if found else "no especificado"

In [6]:
df_clean['job_url_direct'] = df_clean['job_url_direct'].notna()

df_clean['date_posted'] = pd.to_datetime(df_clean['date_posted'], errors='coerce')

df_clean['emails'] = df_clean['emails'].notna()

In [7]:
df_clean['stack_tecnologico'] = df_clean['description'].apply(detectar_stack)

In [8]:
df_clean['site'].value_counts()

site
linkedin     1014
glassdoor     256
indeed          3
Name: count, dtype: int64

In [9]:
columnas_finales = df_clean.columns.tolist()

for columna in [col for col in columnas_finales if col not in ['description','id']]:
    print(f"Columna: {columna}")
    print(f"Valores únicos: {df_clean[columna].value_counts()}")

Columna: site
Valores únicos: site
linkedin     1014
glassdoor     256
indeed          3
Name: count, dtype: int64
Columna: job_url_direct
Valores únicos: job_url_direct
False    986
True     287
Name: count, dtype: int64
Columna: title
Valores únicos: title
data engineer                                                            60
data analyst                                                             33
software engineer                                                        31
full stack developer                                                     13
backend developer                                                        12
                                                                         ..
desarrollador/a senior python | 100% remoto                               1
backend engineer | up to 75k | remote                                     1
software engineer - agentic developer experience (python)                 1
full stack developer - remote españa                                      1
principal software developer ii - distributed systems - elasticsearch     1
Name: count, Length: 927, dtype: Int64
Columna: company
Valores únicos: company
canonical                                      66
bairesdev                                      38
agileengine                                    23
bending spoons                                 21
plexus tech                                    15
                                               ..
eurecat - technology centre                     1
centre tecnològic de la química a catalunya     1
innovamat                                       1
swish analytics                                 1
squid erp                                       1
Name: count, Length: 708, dtype: Int64
Columna: location
Valores únicos: location
Madrid, Community of Madrid, Spain    210
Barcelona, Catalonia, Spain           202
Málaga, Andalusia, Spain              144
Granada, Andalusia, Spain              98
Pereira, Risaralda, Colombia           63
                                     ...
Irvine, CA                              1
Reston, VA                              1
Nashville, TN                           1
Ridgecrest, CA                          1
Murcia, Región de Murcia, Spain         1
Name: count, Length: 124, dtype: Int64
Columna: date_posted
Valores únicos: date_posted
2026-02-10    79
2026-02-12    53
2026-02-13    52
2026-02-09    50
2026-02-06    50
              ..
2025-09-03     1
2025-02-03     1
2025-06-02     1
2025-04-02     1
2023-08-07     1
Name: count, Length: 213, dtype: int64
Columna: job_type
Valores únicos: job_type
fulltime      935
contract       29
internship     24
parttime       15
other          13
temporary       1
Name: count, dtype: Int64
Columna: salary_source
Valores únicos: salary_source
direct_data    188
description      6
Name: count, dtype: int64
Columna: interval
Valores únicos: interval
yearly    168
hourly     27
Name: count, dtype: int64
Columna: min_amount
Valores únicos: min_amount
120000.0    8
80000.0     8
100000.0    7
70000.0     5
95000.0     4
           ..
90036.0     1
86700.0     1
87401.0     1
71373.0     1
135000.0    1
Name: count, Length: 132, dtype: int64
Columna: max_amount
Valores únicos: max_amount
150000.0    8
190000.0    5
95000.0     4
110000.0    4
90000.0     4
           ..
151700.0    1
154397.0    1
101702.0    1
45000.0     1
350800.0    1
Name: count, Length: 129, dtype: int64
Columna: currency
Valores únicos: currency
USD    195
Name: count, dtype: int64
Columna: is_remote
Valores únicos: is_remote
False    793
True     480
Name: count, dtype: int64
Columna: job_level
Valores únicos: job_level
mid-senior level    478
entry level         241
not applicable      131
associate           109
internship           49
director              3
executive             3
Name: count, dtype: Int64
Columna: job_function
Valores únicos: job_function
Engineering and Information Technology                         398
Information Technology                                         300
Engineering                                                     80
Other                                                           43
Consulting                                                      24
                                                              ...
Strategy/Planning, Business Development, and Analyst             1
Engineering and Analyst                                          1
Engineering, Product Management, and Information Technology      1
Analyst, Information Technology, and Engineering                 1
Engineering and Project Management                               1
Name: count, Length: 79, dtype: Int64
Columna: listing_type
Valores únicos: listing_type
organic      255
sponsored      1
Name: count, dtype: int64
Columna: emails
Valores únicos: emails
False    1204
True       69
Name: count, dtype: int64
Columna: company_industry
Valores únicos: company_industry
IT Services and IT Consulting                   318
Software Development                            178
Technology, Information and Internet             51
Financial Services                               32
Business Consulting and Services                 27
                                               ...
Broadcast Media Production and Distribution       1
Rail Transportation                               1
Wind Electric Power Generation                    1
Oil and Gas and Construction                      1
Travel Arrangements and Software Development      1
Name: count, Length: 174, dtype: Int64
Columna: company_url_direct
Valores únicos: company_url_direct
http://www.deloitte.com    2
Name: count, dtype: int64
Columna: company_addresses
Valores únicos: company_addresses
New York, NY    2
Name: count, dtype: int64
Columna: company_num_employees
Valores únicos: company_num_employees
10,000+    2
Name: count, dtype: int64
Columna: company_revenue
Valores únicos: company_revenue
more than $10B (USD)    2
Name: count, dtype: int64
Columna: company_description
Valores únicos: company_description
We’re a leading professional services firm, but what makes working at Deloitte unique? When you join us, you become connected. To inspiring people. To meaningful work with fascinating clients.    2
Name: count, dtype: int64
Columna: search_location
Valores únicos: search_location
Remote (Spain)    379
Madrid            292
Barcelona         245
Málaga            159
Granada           122
Sevilla            76
Name: count, dtype: Int64
Columna: search_query
Valores únicos: search_query
Data Engineer         303
Data Analyst          247
Python Developer      201
Software Developer    189
IA Engineer           182
Backend Engineer      151
Name: count, dtype: int64
Columna: stack_tecnologico
Valores únicos: stack_tecnologico
no especificado                                                                      186
ci/cd, docker, go, kubernetes, microservices, python, rest, rust                      40
python                                                                                16
sql                                                                                   12
go                                                                                    11
                                                                                    ...
ci/cd, microservices, node.js, terraform                                               1
hibernate, java, spring                                                                1
aws, ci/cd, docker, gitlab, mongodb, mysql, redis, ruby                                1
java, kafka, spring                                                                    1
.net, angular, api, asp.net, dart, flutter, github, rest, sql, sqlite, typescript      1
Name: count, Length: 831, dtype: int64

In [10]:
ruta_salida = os.path.join(carpeta, "dataset_limpio.csv")
df_clean.to_csv(ruta_salida, index=False)